<div class="card-top container-fluid">
    <div class="container d-flex">
        <div class="item">
            <a (click)="filter('')">
                <img src="https://thumbs.dreamstime.com/b/more-products-icon-isolated-white-background-your-web-mobile-app-design-more-products-icon-isolated-white-background-133863073.jpg" alt="" width=100 height=65>
                <h6>Todos los productos</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('electronics')">
                <img src="https://rukminim1.flixcart.com/flap/128/128/image/69c6589653afdb9a.png?q=100" alt="" width=100 height=65>
                <h6>Electronica</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('fashion')">
                <img src="https://img.freepik.com/vector-premium/icono-ropa-moda-femenina_24877-961.jpg?w=2000" alt="" width=100 height=65>
                <h6>Moda</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('jewelery')">
                <img src="width: 62px; margin-top: 5px;" src="https://img.freepik.com/vector-premium/anillo-icono-vector-diamante-estilo-plano-ilustracion-anillo-joyeria-oro-sobre-fondo-blanco-aislado-concepto-negocio-compromiso_157943-447.jpg?w=2000" alt="" width=100 height=65>
                <h6>Joyería</h6>
            </a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <ng-container *ngFor="let item of filterCategory | filter:searchKey:'title'">
            <div class="card col-md-3">
                <img src="{{item.image}}" alt="">
                <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.title}}</h5>
                <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.description}}</p>
                <p><strong>Precio:</strong> ${{item.price}}</p>
                <button class="btn btn-dark" (click)=addtocart(item)>Agregar al Carrito</button>
            </div>
        </ng-container>

    </div>
</div>